body, html {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 20px;
}

#navbar li {
    display: inline;
    margin-right: 30px;
}

#navbar a {
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
    color: black; /* Couleur du texte noir */
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#text {
    display: block;
    margin-left: 27.5%;
    margin-right: 27.5%;
}

h1, h2, p {
    color: black; /* Couleur du texte noir */
    line-height: 1.5;
    margin-bottom: 20px;
}
